<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @use.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @use.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @use.login %>
</p>

<%= link_to 'Edit', edit_use_path(@use) %> |
<%= link_to 'Back', uses_path %>
